@font-face {
	font-family: 'FranklinGot';
	src: url('fonts/FRABK.eot');
	src: local('☺'), url('../fonts/FRABK.woff') format('woff'), url('../fonts/FRABK.ttf') format('truetype'), url('../fonts/FRABK.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
    font-family: FranklinGot, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 10;
}
.logo{
    font-size: 28px;
    color: white;
    line-height: 60px;
    float: left;
    -webkit-animation: coming 3s ease;
    -o-animation: coming 3s ease;
    animation: coming 3s ease;
}
.menu{
    float:left;
}
.menu li{
    float:left;
    line-height: 30px;
    color: white;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.8s ease forwards;
    -o-animation: topshift 0.8s ease forwards;
    animation: topshift 0.8s ease forwards;
    opacity: 0;
    text-decoration: none;
}
.menu li a{
    transition: all 0.1s;
    color: white;
    text-decoration: none;
    transform: scale(1);
}
.menu li a:visited{
    color: white;
}
.menu li a:hover{
    color: orangered;

}
.menu li a:active{
    transform: scale(1.1);
}
.white-btn:visited{
    color: white;
}
.main{
    width: 100%;
    height: 100%;
    background: url(../img/%D0%9F%D0%B0%D1%80%D0%B5%D0%BD%D1%8C.png) 90% 100%/auto 85% no-repeat, url(../img/%D1%84%D0%BE%D0%BD.jpg) center/cover no-repeat;
}
.title__container{
    float:left;
    height: 100%;
    text-align: center;
    display: block;
    color: #2c384a;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2.4s;
    -o-animation-delay: 2.4s;
    animation-delay: 2.4s;
}
.title__container h1{
    font-size: 60px;
    font-weight: bold;
}
.title__container h1::first-letter{
    color: orangered;
}
.title__container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}
.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    display: block;
    transition: all 0.2s;
    transform: scale(1);
}
.title__container input:hover{
    background: orangered;
    color: #344051;
}
.title__container input:active{
    transform: scale(1.1);
}
@keyframes coming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 16px;
    }
}
@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -1000px;
    }
    to{
        opacity: 1;
        margin-left: 150px;
    }
}
.menu li a:active{
    transform: scale(1.1);
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}
.custom-css3{
    color: orangered;
}
.person{
   text-align: center;
   background: none;
   width: 100%;
    height: 520px;
}
.person h2{
    font-size: 25px;
    color: #263244;
    font-weight: bold;
    margin-top: 105px;
}
[value="1"]{
    display: block;
    background: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
[value="2"]{
    display: block;
    background: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
.person p{
   display: block;
    text-align: justify;
    width: 700px;
   font-size 20px;
   color: #3f495a;
   background: none;
   padding: 20px;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: scooter 5s linear;
    -o-animation: scooter 5s linear;
    animation: scooter 5s linear;
    animation-iteration-count: infinite;
}
@keyframes scooter{
    0%{
        opacity: 0.7;
        text-shadow: 0 0 3px black;
    }
    25%{
        opacity: 1;
        text-shadow: 0 0 10px black;
    }
    50%{
        opacity: 0.7;
        text-shadow: 0 0 3px black;
    }
    75%{
        opacity: 1;
        text-shadow: 0 0 10px black;
    }
    100%{
        opacity: 0.7;
        text-shadow: 0 0 3px black;
    }
}
.person input{
   text-align: center;
   margin-top: 20px;
   border: 2px solid #3f495a;
   border-radius: 5px;
   border-color: #3f495a;
   padding: 2px 2px;
}
.person input:hover{
    background: orangered;
    color: #3f495a;
}
.person input:active{
    background: orangered;
    transform: scale(1.2);
}
.skills{
    text-align: center;
    width: 100%;
    height: 525px;
    margin-top: 50px;
    background: url(../img/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%20%D1%84%D0%BE%D0%BD%D0%B0%20%D0%9E%D0%91%D0%9E%20%D0%9C%D0%9D%D0%95.png)center/cover no-repeat;
}
.skills h2{
   font-size: 25px;
    color: #263244;
    font-weight: bold;
    padding-top: 105px;
}
.skl{
   display: flex;
   justify-content: space-around;
   float: left;
    text-align:center;
}
.skills p{
    text-align: justify;
}
.skills h5{
    margin-top: 30px;
    font-size: 20px;
    color: #d17700;
    -webkit-animation: skills 10s linear;
    -o-animation: skills 10s linear;
    animation: skills 10s linear;
    animation-iteration-count: infinite;
}
@keyframes skills{
    0%{
     color:red;
    }
    10%{
     color:orange;
    }
    20%{
      color:yellow;
    }
    30%{
        color: green;
    }
    40%{
        color:blue;
    }
    50%{
        color:purple;
    }
    60%{
        color:black;
    }
    70%{
        color:brown;
    }
    80%{
        color:darkorange;
    }
    90%{
        color:darkred;
    }
    100%{
        color:forestgreen;
    }
}
.skills p{
    display: block;
    font-size: 16px;
    margin-top: 25px;
}
.caise{
   text-align: center;
   background: none;
    width: 100%;
    height: 1100px;
}
.caise h2{
   font-size: 25px;
    color: #263244;
    font-weight: bold;
    padding-top: 25px;
}
.caise p{
    margin-top: 25px;
}
.caise img{
    text-align: center;
    padding-top: 20px;
}
.client{
    float: left;
    font-size: 16px;
    color:#263244;
    margin-top: 10px;
    margin-left: 130px;
    padding-top: 10px;
}
.caise button{
    background: #eee;
    width: 100px;
    height: 35px;
    border: 2px solid#000;
    border-radius: 5px;
    margin-top: 20px;
}
.caise button:hover{
    background: orangered;
    color: #263244;
    }
.caise button:active{
    background: orangered;
    transform: scale(1.2);
}
.project{
    display: block;
    width: 900px;
    margin-top: 20px;
    margin-left: 400px;
    padding-top: 20px;
}
.project h3{
    text-align: justify;
    font-size: 25px;
    color: #263244;
}
.object{
    text-align: justify;
    max-width: 850px;
    font-size: 16px;
    white-space: normal;
    color: #263244;
}
.object::first-letter{
    color: orangered;
        font-size: 25px;
}
.calculator{
    text-align: center;
    outline: 5px solid#000;
    width: 1000px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
background: #ff7400; /* Old browsers */
background: -moz-linear-gradient(top, #ff7400 0%, #ff7400 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ff7400 0%,#ff7400 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ff7400 0%,#ff7400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7400', endColorstr='#ff7400',GradientType=0 );
}
.calculator h2{
    font-size: 25px;
    color: black;
    font-weight: bold;
    padding-top: 50px;
}
.calculator h4{
    margin-top: 30px;
    font-size: 20px;
}
.calculator select{
    color: #ff7400;
    width: 890px;
    height: 55px;
    border: 1px solid#000;
    opacity: 1;
    margin-top: 25px;
    background: #323e4f;
}
.calculator select option{
    font-size: 16px;
    color: #000;
    background: #ff7400;
}
.calculator p{
    font-size: 25px;
    width: 890px;
    height: 55px;
    margin-top: 30px;
    margin-left: 53px;
    padding: 15px 20px;
    text-align: left;
}
.calculator span{
    text-align: end;
}
.stats{
   text-align: center;
    width: 100%;
    height: 495px;
    margin-top: 20px;
    background: url(../img/%D1%84%D0%BE%D0%BD%20%D1%81%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B8.jpg)center/cover no-repeat;
    background-attachment: fixed;
}
.stats h2{
    font-size: 25px;
    color: #263244;
    font-weight: bold;
    margin-top: 30px;
    padding-top: 30px;
}
.sts{
    display: flex;
    justify-content:space-around;
    float: left;
    color: #323e4f;
    font-size: 20px;
}
.about_me{
    text-align: center;
   background: none;
    width: 100%;
    height: 390px;
}
.about_me h2{
     text-align: center;
    font-size: 25px;
    color: #263244;
    font-weight: bold;
      margin-top: 50px;
}
.about_me img{
    padding-top: 40px;
}
.about_me p{
    text-align: justify;
    width:  600px;
    margin: auto;
    padding-top: 20px;
    color: #243042;
}
.about_me h5{
    display: block;
    padding-top: 20px;
    color: #263244;
}
.about_me p::first-letter{
    color: orangered;
    font-size: 25px;
}
.title_inner{
    text-align: center;
    color: white;
   background: url(../img/%D0%9C%D0%BE%D0%B8%20%D0%BA%D0%BE%D0%BD%D1%82%D0%B0%D0%BA%D1%82%D1%8B.jpg)center/cover no-repeat;
    height: 805px;
   margin-top: 50px;
     padding: 15px;
}
.title_inner h2{
    font-size: 25px;
    font-weight: bold;
    padding-top: 30px;
}
.title_inner p{
    font-size: 16px;
    padding-top: 30px;
}
.contacts{
    width: 999px;
    height: 100px;
    margin: 30px auto;
}
.contacts div{
    display: block;
    float: left;
    width: 333px;
    height: 100px;
}
.contacts a:hover{
    color: orangered
}
.contacts p:hover{
    color: orangered
}
.title_inner a{
    color: white;
    padding-top: 10px;
}

#name{
    width: 350px;
    height: 35px;
    margin: 15px;
    opacity: 0.8;
    padding-left: 15px;
}

#email{
    width: 350px;
    height: 35px;
    margin: 15px;
    opacity: 0.8;
    padding-left: 15px;
}

.btn_fill{
    color: white;
    border: 2px solid #000;
    border-radius: 5px;
    border-color: white;
    margin-top: 30px;
    padding: 15px;
    background: none;
}

.btn_fill:hover{
     background: orangered;
    border-color: #263244;
    color: #263244;
    }
.btn_fill:active{
    background: orangered;
    transform: scale(1.2);
}

.massage_for_me{
    margin-top: 20px;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
}

.massage_for_me textarea{
     width: 730px;
    height: 95px;
    padding-top: 5px;
    padding-left: 5px;
}

footer{
    width: 100%;
    height: 350px;
    text-align: center;

}
footer img{
    width: 100%;
    height: 90%;
}
footer h6{
    font-size: 16px;
    color: white;
    height: 10%;
    background: #344051;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
@media (max-width:991px){
.title__container, .title__container h4, .title__container input{
    color: white;
    position: relative;
    z-index: 3;
}
.title__container input {
    border: 2px solid #fff}
.main{
    position: relative;
}
.main::after{
    content: "";
    buttom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
}
}
