body{
    font-family: fantasy, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}
.logo{
    font-size: 28px;
    color: whitesmoke;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}
.menu{
    float:left;
    padding-left: 430px;
}
.menu li{
    float:left;
    line-height: 30px;
    color:whitesmoke;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 18px;
}
.main{
    width: 100%;
    padding-top: 10px;
    height: calc(100% - 60px);
    background: url(../img/%D0%9F%D0%B0%D1%80%D0%B5%D0%BD%D1%8C.png) 90% 100%/auto 85% no-repeat, url(../img/%D1%84%D0%BE%D0%BD.jpg) center/cover no-repeat;
}
.title__container{
    float:left; 
    text-align: center;
    margin: 432px 0px 0px 404px;
    color: 2c384a;       
}
.title__container h1{
    font-size: 60px;
    font-weight: bold;
}
.title__container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}
.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px
}
.person{
   text-align: center;
   background: none;
   width: 100%;
    height: 520px;
}
.person h2{
    font-size: 25px;
    color: #263244;
    font-weight: bold;
    margin-top: 105px;
}
[value="1"]{
    display: block;
    background: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
[value="2"]{
    display: block;
    background: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
.person p{
   display: block;
    width: 700px;
   font-size 20px;
   color: #3f495a;
   background: none;
   padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
.person a{
   text-align: center;
   background: none;
   margin-top: 20px;
   border: 2px solid #3f495a;
   border-radius: 5px;
   border-color: #3f495a;
   padding: 2px 2px;
}
.skills{
    text-align: center;
    width: 100%;
    height: 525px;
    background: url(../img/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%20%D1%84%D0%BE%D0%BD%D0%B0%20%D0%9E%D0%91%D0%9E%20%D0%9C%D0%9D%D0%95.png)center/cover no-repeat;
}
.skills h2{
   font-size: 25px;
    color: #263244;
    font-weight: bold;
    padding-top: 105px;
}
.skills div{
   display: block;
   float: left;
    text-align: center;
   max-width: 210;
    height: 155px;
   padding-top: 70px;
    margin-left: 230px;;
    margin-right: auto;
}
.skills h5{
    padding-top: 25ps;
    font-size: 20px;
    color: #d17700;
}
.skills p{
    font-size: 15px;
    width: 210px;
    height: 50px;
}
.caise{
   text-align: center;
   background: none;
    width: 100%;
    height: 1100px;
}
.caise h2{
   font-size: 25px;
    color: #263244;
    font-weight: bold;
    padding-top: 25px;
}
.caise p{
    margin-top: 25px;
}
.caise img{
    text-align: center;
    padding-top: 20px;
}
.client{
    float: left;
    font-size: 16px;
    color:#263244;
    margin-top: 10px;
    margin-left: 230px;
    padding-top: 10px;
}
.caise button{
    background: #eee;
    width: 100px;
    height: 35px;
    border: 1px solid#000;
    border-radius: 5px;
    margin-top: 20px;
    
}
.project{
    display: block;
    width: 1200px;
    margin-top: 20px;
    margin-left: 200px;
    padding-top: 20px;
    padding-left: 100px;
}
.project h3{
    text-align: justify;
    font-size: 25px;
    color: #263244;
    padding-left: 50px;
}
.project p{
    text-align: justify;
    font-size: 16px;
    white-space: normal;
    padding-left: 50px;
}
.calculator{
    text-align: center;
    width: 890px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}
.calculator h2{
    font-size: 25px;
    color: #263244;
    font-weight: bold;
    padding-top: 100px;
}
.calculator h4{
    margin-top: 30px;
    font-size: 20px;
}
.calculator select{
    width: 890px;
    height: 55px;
    border: 1px solid#000;
    opacity: 1;
    margin-top: 25px;
    background: #eee;
}
.calculator p{
    font-size: 25px;
    width: 890px;
    height: 55px;
    margin-top: 30px;
    text-align: left;
}
.calculator span{
    text-align: end;
}
.stats{
   text-align: center;
    width: 100%;
    height: 495px;
    background: url(../img/%D1%84%D0%BE%D0%BD%20%D1%81%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B8.jpg)center/cover no-repeat;
}
.stats h2{
    font-size: 25px;
    color: #263244;
    font-weight: bold;
    margin-top: 30px;
    padding-top: 30px;
}
.stats div{
    display: block;
    float: left;
    color: #323e4f;
    font-size: 20px;
    width: 170px;
    padding-top: 88px;
    margin-left: 230px;
    margin-right: auto;
}
.stats h2{
    font-size: 25px
}
.about_me{
    text-align: center;
   background: none;
    width: 100%;
    height: 590px;
}
.about_me h2{
     text-align: center;
    font-size: 25px;
    color: #263244;
    font-weight: bold;
      margin-top: 50px; 
}
.about_me img{
    padding-top: 60px;  
}
.about_me p{
    width:  600px;
    margin: auto;
    padding-top: 20px;
    color: #243042;
}
.title_inner{
    text-align: center;
    color: white;
   background: url(../img/%D0%9C%D0%BE%D0%B8%20%D0%BA%D0%BE%D0%BD%D1%82%D0%B0%D0%BA%D1%82%D1%8B.jpg)center/cover no-repeat;
    height: 805px;
   margin-top: 50px;
     padding: 15px;
}
.title_inner h2{
    font-size: 25px;
    font-weight: bold;
    padding-top: 30px;
}
.title_inner p{
    font-size: 16px;
    padding-top: 30px;
}
.contacts{
    width: 100%;
    height: 100px;
}
.contacts p{
    display: block;
    width: 155px;
    height: 70px;
    float: left;
    margin-left: auto;
    margin-right: auto;
}
.title_inner a{
    color: white;
    padding-top: 10px;
}

#name{
    width: 350px;
    height: 35px;
    margin: 15px;
    opacity: 0.8;
    padding-left: 15px;
}
#email{
    width: 350px;
    height: 35px; 
    margin: 15px;
    opacity: 0.8;
    padding-left: 15px;
}
.btn_fill{
    color: white;
    border: 2px solid #000;
    border-radius: 5px;
    border-color: white;
    margin-top: 30px;
    padding: 15px;
    background: none;
}
.massage_for_me{
    margin-top: 20px;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
}
.massage_for_me textarea{
     width: 730px;
    height: 95px;
    padding-top: 5px;
    padding-left: 5px;
}
.social{
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    padding: 55px;
}
footer{
    width: 100%;
    height: 350px;
    text-align: center;
    
}
footer img{
    width: 100%;
}
footer h6{
    font-size: 16px;
    color: white;
    line-height: 60px;
    background-color: #344051;
    margin-left: auto;
    margin-right: auto;
}